.container {
  display: flex;
}
.body {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body > h4,
.head {
  margin: 10px;
}

.head {
  width: 95%;
  height:150px;
  display: flex;
  margin-top: 10px;
}
.control {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn{
    margin: 5px !important;
    background-color: #3655ff;
}

.search {
    margin: 15px 0px;
}
.outlined-basic{
    outline-color: black !important;
}